@if (@ViewBag.CampaignMinOrderView != null)
{
    <table class="table table-bordered table-tooltip">
        <tbody>
            <tr>
                <td>@Html.Raw(@ViewBag.CampaignMinOrderView)</td>
            </tr>
        </tbody>
    </table>
}

