<style type="text/css">
    .subscribe .content-title
    {
        margin-bottom: 5px !important;
    }

        .subscribe .content-title .title-bg h2.title
        {
            font-size: 16px;
        }

    .sidebar .widget.subscribe p
    {
        margin-bottom: 5px !important;
    }

    .sidebar .widget.subscribe .input-group .form-control
    {
        border-bottom-right-radius:0px;
        border-top-right-radius:0px;
        text-align:left;
        height:38px;
    }
    .sidebar .widget.subscribe .input-group .input-group-btn .btn
    {
        margin-left:0px;
        margin-bottom:0px;
    }
</style>

<div class="widget subscribe hide">
    <div class="row">
        <header class="content-title">
            <div class="title-bg">
                <h2 class="title"><i class="fa fa-envelope"></i> E-MAİL BULUNAMADI</h2>
            </div><!-- End .title-bg -->
        </header>
    </div>
    <p>Eğer bize verirsen mail adresini seni çoh güzel kampanyalardan habardar ederik.</p>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="E-Mail Adresiniz">
        <span class="input-group-btn">
            <a href="#" class="btn btn-custom"><i class="fa fa-paper-plane"></i></a>
        </span>
    </div><!-- /input-group -->

</div>
