<div class="col-md-12" id="PaymentWiewPage">
    <div class="payment-installment-boxs-wrapper hidden" id="pnlInstallmentInformation"></div>
</div>

<script type="text/javascript" src="/Scripts/Pages/paymentPartialView.js"></script>
<script type="text/javascript">
    $(function () {

        fireVirtualPosInstallmentInformation();
        //setTimeout(function() {

        //    $('.stepContainer').height($('.payment-installment-boxs-wrapper').outerHeight() + 20);

        //}, 100);
    })

</script>
