@using System.Collections.Generic
@using B2b.Web.v4.Models.EntityLayer

@model List<Announcements>

<div class="col-md-12">
    <div class="row">
        <div id="news-slider-container" class="carousel-wrapper">
            <header class="content-title">
                <div class="title-bg">
                    <h1 class="title font-size-25">Haber</h1>
                </div><!-- End .title-bg -->
            </header>

            <div class="carousel-controls">
                <div id="news-slider-prev" class="crsl-btn">
                    <i class="fa fa-angle-left fa-lg"></i>
                </div><!-- End .carousel-prev -->
                <div id="news-slider-next" class="crsl-btn crsl-space">
                    <i class="fa fa-angle-right fa-lg"></i>
                </div><!-- End .carousel-next -->
            </div><!-- End .carousel-controllers -->

            <div class="row">
                <div class="col-md-12">
                    <div class="news-slider news owl-carousel">
                        @foreach (Announcements item in Model)
                        {
                            <div class="news-details">
                                <header>@item.Header</header>
                                @Html.Raw(@item.Content)
                            </div><!-- End .testimonial-details -->
                        }
                    </div><!-- End .brand-slider -->
                </div>
            </div><!-- End .row -->
        </div><!-- End #brand-slider-container -->
    </div>
</div>
