<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <!--<add key="owin:AutomaticAppStartup" value="false" />-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ip" value="mysql.eryaz.net" />
    <add key="username" value="b4b_hantech" />
    <add key="password" value="dfg5UY@Hkix.(c345" />
    <add key="port" value="13910" />
    <add key="database" value="hantech_b4b" />
    <add key="dbEncoding" value="utf8" />
    <add key="webService_username" value="eryaz" />
    <add key="webService_password" value="hw6UYi1AjhCA" />
    <add key="cookieName" value="Hantech-B4B" />
    <add key="companyName" value="Hantech" />
    <add key="cookieNameForUserName" value="Hantech-B2B-UserName" />
    <add key="b2bAddress" value="http://b4b.hantech-turkey.com.tr/" />
    <add key="b2bAddressLocal" value="http://localhost/" />
    <add key="ftpUserName" value="hantech" />
    <add key="ftpPassword" value="4r6Y1L2az" />
    <add key="companyPath" value="Hantech/" />
    <add key="ftpServerAddress" value="cdn.eryaz.net/" />
    <add key="ftpServerUploadAddress" value="cdn.eryaz.net/" />
    <add key="ftpCompanyName" value="11FFCEDB643C9DC1/" />
    <add key="encryptPassword" value="eratech" />
    <add key="paymentLogAdress" value="https://logger.eryaz.net" />
    <add key="paymentLogPassword" value="hw6U85Rti1AjhCA" />
    <!--Sanal pos Api Loglaması İçin Eklendi.  -->
    <add key="marsEntegration" value="False" />

    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="owin:appStartup" value="B2b.Web.v4.Startup" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->

  <system.web>

    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
    <sessionState mode="InProc" timeout="600" cookieless="UseCookies" cookieName="CanOtoB2bV4Session" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Login/Unauthorized">

      <!--<customErrors mode="Off" >-->
      <error statusCode="404" redirect="~/Login/Unauthorized" />
    </customErrors>

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>

  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>


      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>-->
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">

    </modules>
    <rewrite>
      <outboundRules>
        <clear/>
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false"/>
          <action type="Rewrite" value="{R:0}; SameSite=None; Secure"/>
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="."/>
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=None; Secure" negate="true"/>
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>

  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EpaymentBinSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://eryazsoftware.com.tr/EpaymentBin.asmx" binding="basicHttpBinding" bindingConfiguration="EpaymentBinSoap" contract="EpaymentBinService.EpaymentBinSoap" name="EpaymentBinSoap" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>