@using System.Web
@using B2b.Web.v4.Models.Helper
@{
    ViewBag.Title = "BackOrder";
}

<section  ng-controller="BackOrderController">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Siparişler</a></li>
                <li><a href="#">Bakiye Siparişleri</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 box">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="row">
                                    <div class="form-group">
                                        <select id="backorder-year" ng-change="loadBackOrder(selectedIem)" ng-model="selectedIem" class="form-control" style="max-width:120px;">
                                            <option ng-repeat="row in yearList" value="{{row.Id}}">{{row.Header}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="row">
                                    <div class="export-items">
                                        <a href="#" ng-click="exportToExcel()" class="btn btn-custom-2 btn-md"><i class="fa fa-file-excel-o fa-lg" aria-hidden="true"></i> Excel'e Aktar</a>
                                        @*<a class="btn btn-custom-2 btn-md"><i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="pDataTable" class="table table-striped table-hover table-custom shadowed">
                        <!---table-condensed table-striped table-hover-->
                        <thead>
                            <tr>
                                <th>Stok</th>
                                <th>Sipariş Tarihi</th>
                                <th>Ürün Kodu</th>
                                <th>Ürün Adı</th>
                                <th>Sip. Mik.</th>
                                <th>Sevk Mik.</th>
                                <th>Kalan Mik.</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="row in backOrderList" class="context">
                            <tr>
                                <td>
                                    <span class="fa-stack fa-sm">
                                        <i class="fa calendar-text"></i>
                                        <i class="{{row.AvailabilityCss}}"></i>
                                    </span>
                                    <span>
                                        {{row.AvailabilityText}}
                                    </span>
                                </td>
                                <td>{{row.OrderDate | dateFilterErp  | date:'dd.MM.yyyy'}}</td>
                                <td>{{row.ProductCode}}</td>
                                <td>{{row.ProductName}}</td>
                                <td>{{row.QuantityTotal}}</td>
                                <td>{{row.QuantitySent}}</td>
                                <td>{{row.QuantityRemaining}}</td>
                                <td class="text-right">
                                    <a class="btn btn-custom-2 btn-sm" ng-click="addBasket(row)"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
                                    <a class="btn btn-danger btn-sm" ng-click="deleteBackOrder(row,false)"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="sm-margin"></div>
                    @*NOT:
                    Bakiye Sİpariş durumuna göre aşağıdaki class lar ve textler değişecek.
                    alert-warning > alert-info ,
                    fa-exclamation-triangle > fa-info-circle,
                    Bakiyeden kalem silmek için lütfen müşteri temsilciniz ile iletişime geçiniz. > eski b2b den bakılabilir

                    *@
                    <div class="alert alert-warning">
                        <strong><i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i></strong>
                        <span>Bakiyeden kalem silmek için lütfen müşteri temsilciniz ile iletişime geçiniz.</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>



<script src="~/Scripts/Js/jszip.js" type="text/javascript"></script>
<script src="~/Scripts/Js/xlsx.full.min.js" type="text/javascript"></script>
<script src="~/Scripts/Js/FileSaver.js" type="text/javascript"></script>

<script src="@Url.ContentVersioned("/Scripts/Pages/backOrder.js", HttpContext.Current.Request)"></script>

