@using System.Web
@using B2b.Web.v4.Models.Helper

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: -7px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .prettyprintBg {
        background: url(../../../../Content/images/background_map.png) #483758;
        background-repeat: no-repeat;
        background-position: center;
        color: #ffffff !important;
    }

    .cntSeparator {
        font-size: 14px;
        margin: 10px 7px;
        color: #000;
    }

    .DataTransferMain {
        display: table;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

        .DataTransferMain .DataTransferMains {
            display: table;
            width: 100%;
            padding: 5px 0;
        }

            .DataTransferMain .DataTransferMains .DataTransferColumn {
                display: table-cell;
                vertical-align: middle;
                padding: 0 10px;
            }

                .DataTransferMain .DataTransferMains .DataTransferColumn:nth-child(1) {
                    width: 11%;
                }

                .DataTransferMain .DataTransferMains .DataTransferColumn:nth-child(2) {
                    width: 17%;
                    min-width: 230px;
                }

                .DataTransferMain .DataTransferMains .DataTransferColumn .ProcessMain {
                    display: block;
                }

                    .DataTransferMain .DataTransferMains .DataTransferColumn .ProcessMain .progress {
                        margin: 0;
                    }
</style>

<div class="page page-campaign">
    <div class="pageheader">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/Admin"><i class="fa fa-home"></i> Eryaz</a>
                </li>
                <li>
                    <a href="/Admin/Campaign">Sistem Analiz</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- page content -->
    <div class="pagecontent" ng-controller="analysisController">
        <div class="row">
            <div class="col-md-12">
                <section class="tile">
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>Sistem</strong> Analizi</h1>
                        <ul class="controls">
                            <li class="dropdown">

                                <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                    <i class="fa fa-spinner fa-spin"></i>
                                </a>

                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">

                                    <li>
                                        <a role="button" tabindex="0" class="tile-refresh" ng-click="startAnalaysis()">
                                            <i class="fa fa-play"></i> Başlat
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="tile-stop" ng-click="stopAnalaysis()">
                                            <i class="fa fa-stop"></i> Durdur
                                        </a>
                                    </li>
                                    @*<li>
                                        <a role="button" tabindex="0" class="tile-refresh">
                                            <i class="fa fa-download"></i> Logları İndir
                                        </a>
                                    </li>*@
                                </ul>
                            </li>
                            <li class="dropdown">
                                @*<a role="button" data-toggle="dropdown" tabindex="0" class="dropdown-toggle">
                                        <i ng-show="isRunning" class="fa fa-wifi" style="font-size:24px;color:green"></i>
                                        <i ng-show="!isRunning" class="fa fa-wifi" style="font-size:24px;color:#e41111"></i>
                                    </a>*@
                            </li>
                        </ul>
                    </div>
                    <div class="DataTransferMain">
                        <div class="DataTransferMains">
                            <div class="DataTransferColumn">
                                <div class="ProcessMain">
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-orange" id="prStatus" role="progressbar" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <pre class="prettyprint lang-js prettyprintBg" id="logShow" style="max-height:600px;min-height:600px;"></pre>

            </div>
        </div>
    </div>
</div>
@section cScriptCode{

<script src="@Url.ContentVersioned("/Scripts/Admin/systemAnalysis.js", HttpContext.Current.Request)"></script>

}

