
@{
    ViewBag.Title = "Çıkış";
    Layout = "~/Areas/Admin/Views/Shared/_BlankLayout.cshtml";
}

<div id="wrap" class="animsition">
    <div class="page page-core page-locked">
        <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">E</span>RYAZ BİLGİ TEKNOLOJİLERİ</h3></div>

        <h3 class="header text-center text-primary">Hoşçakalın.</h3>
    </div>
</div>

