 <!--MODAL GLOBAL CONFIRMATION-->
<div id="modal-global-confirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title custom-font"><strong>Uyarı !</strong></h3>
            </div>
            <div class="modal-body">
                <p>{{globalItem.Message}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal">Hayır<i class="fa fa-arrow-right"></i> </button>
                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="globalItem.FunctionName()"> Evet<i class="fa fa-arrow-right"></i> </button>
            </div>
        </div>

    </div>
</div>
<!--MODAL GLOBAL CONFIRMATION-->
