<div class="container">
    <div class="sm-margin"></div>
    <div class="jumbotron">
        <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
        <h1 class="text-center">Error Code: 121212<p> </p><p><span class="text-center"> Hay aksi! Çekim işlemi tamamlanamadı</span></p></h1>
        <p class="text-center">Açıklama yapmak durumundayız.</p>
        <p class="text-center"><a class="btn btn-custom" href="#"><i class="fa fa-home"></i> Ana Sayfa</a></p>
    </div>
</div>
