


<section>

    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Bilgilendirme</a></li>
            </ul>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-12 box">


                <div class="col-md-12 adBlockContent">
                    <div class="row text-center">
                        <h1>Adblock ve benzeri eklentiler nasıl kapatılır?</h1>
                        <p>Tarayıcınızdaki <a href="#adBlock">AdBlock</a>,  <a href="#adblockplus">Adblock Plus</a>, <a href="#ublock">uBlock</a>, <a href="#adguard">Adguard</a>, <a href="#ghostery">Ghostery</a> eklentilerini kapatmak için aşağıdaki açıklamaları okuyunuz.</p>
                    </div>
                </div>
                <section class="adBlockSection col-md-12" id="adBlock">
                    <div class="row">
                        <div class="box-row text-center">
                            <h2><img src="~/Content/images/ico-adblock.png" />AdBlock eklentisi nasıl kapatılır?</h2>
                        </div>
                        <div class="box-row flexContent ">

                            <div class="sectionFigure">
                                <figure>
                                    <img src="~/Content/images/adblock.jpg" />
                                </figure>
                            </div><!-- .sectionFigure -->

                            <div class="sectionContent">

                                <ul>
                                    <li>
                                        <span>1</span>
                                        <p>Web tarayıcınızın sağ üst köşesindeki <strong>AdBlock</strong> ikonuna tıklayın.</p>
                                    </li>
                                    <li>
                                        <span>2</span>
                                        <p>Açılır menüdeki "<strong>Bu alan adındaki sayfalarda çalışma</strong>" seçeneğine tıklayarak <strong>AdBlock</strong> eklentisini haberturk.com sitesi için pasif hale getirin.</p>
                                    </li>
                                </ul>

                            </div><!-- .sectionContent -->

                        </div><!-- .box-row -->
                    </div>
                </section>

                <section class="adBlockSection col-md-12" id="adblockplus">

                    <div class="box-row text-center">
                        <h2><img src="~/Content/images/ico-abp.png" />Adblock Plus eklentisi nasıl kapatılır?</h2>
                    </div>

                    <div class="box-row flexContent ">

                        <div class="sectionFigure">
                            <figure>
                                <img src="~/Content/images/abp.jpg" />
                            </figure>
                        </div><!-- .sectionFigure -->

                        <div class="sectionContent">

                            <ul>
                                <li>
                                    <span>1</span>
                                    <p>Web tarayıcınızın sağ üst köşesindeki <strong>Adblock Plus</strong> ikonuna tıklayın.</p>
                                </li>
                                <li>
                                    <span>2</span>
                                    <p>Açılır menüdeki "<strong>Bu sitede etkin</strong>" seçeneğine tıklayarak <strong>Adblock Plus</strong> eklentisini haberturk.com sitesi için pasif hale getirin.</p>
                                </li>
                            </ul>

                        </div><!-- .sectionContent -->

                    </div><!-- .box-row -->
                </section>

                <section class="adBlockSection col-md-12" id="adguard">

                    <div class="box-row text-center">
                        <h2><img src="~/Content/images/ico-aguard.png" />Adguard eklentisi nasıl kapatılır?</h2>
                    </div>

                    <div class="box-row flexContent">

                        <div class="sectionFigure">
                            <figure>
                                <img src="~/Content/images/aguard.jpg" />
                            </figure>
                        </div><!-- .sectionFigure -->

                        <div class="sectionContent">

                            <ul>
                                <li>
                                    <span>1</span>
                                    <p>Web tarayıcınızın sağ üst köşesindeki <strong>Adguard</strong> ikonuna tıklayın.</p>
                                </li>

                                <li>
                                    <span>2</span>
                                    <p>Açılır menüdeki "<strong>Bu web sitesindeki koruma</strong>" düğmesine tıklayarak <strong>Adguard</strong> eklentisini haberturk.com sitesi için pasif hale getirin.</p>
                                </li>
                            </ul>

                        </div><!-- .sectionContent -->
                    </div><!-- .box-row -->
                </section>

                <section class="adBlockSection col-md-12" id="ublock">

                    <div class="box-row text-center">
                        <h2><img src="~/Content/images/ico-ublock.png" />uBlock eklentisi nasıl kapatılır?</h2>
                    </div>

                    <div class="box-row flexContent">

                        <div class="sectionFigure">
                            <figure>
                                <img src="~/Content/images/ublock.jpg" />
                            </figure>
                        </div><!-- .sectionFigure -->

                        <div class="sectionContent">

                            <ul>
                                <li>
                                    <span>1</span>
                                    <p>Web tarayıcınızın sağ üst köşesindeki <strong>uBlock</strong> ikonuna tıklayın.</p>
                                </li>
                                <li>
                                    <span>2</span>
                                    <p>Açılır menüdeki <strong>mavi açma/kapama butonu</strong>na tıklayarak <strong>uBlock</strong> eklentisini haberturk.com sitesi için pasif hale getirin.</p>
                                </li>
                            </ul>

                        </div><!-- .sectionContent -->
                    </div><!-- .box-row -->
                </section>

                <section class="adBlockSection col-md-12" id="ghostery">

                    <div class="box-row text-center">
                        <h2><img src="~/Content/images/ico-ghostery.png" />Ghostery eklentisi nasıl kapatılır?</h2>
                    </div>

                    <div class="box-row flexContent">

                        <div class="sectionFigure">
                            <figure>
                                <img src="~/Content/images/ghostery.jpg" />
                            </figure>
                        </div><!-- .sectionFigure -->

                        <div class="sectionContent">

                            <ul>
                                <li>
                                    <span>1</span>
                                    <p>Web tarayıcınızın sağ üst köşesindeki <strong>Ghostery</strong> ikonuna tıklayın.</p>
                                </li>
                                <li>
                                    <span>2</span>
                                    <p>Açılır menüdeki "<strong>Güven</strong>" butonuna tıklayarak <strong>Ghostery</strong> eklentisini haberturk.com sitesi için etkisiz hale getirin.</p>
                                </li>
                            </ul>

                        </div><!-- .sectionContent -->
                    </div><!-- .box-row -->
                </section>
            </div>
        </div>
    </div>

</section>
